.custom-gradient {
  background: linear-gradient(to right, #dceaff 55%, #1b70ee 140%);
}

.dark-gradient {
  background: linear-gradient(to left, #125eeb 0%, #000000 100%);
}

.dark-gradient-text {
  background: linear-gradient(to left, #125eeb 10%, #000000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient {
  color: linear-gradient(to right, #125eeb 0%, #000000 100);
}

.container-gradient {
  background: linear-gradient(to right, #125eeb 5%, #dceaff 100%);
}

.text-one-color {
  background: linear-gradient(
      90deg,
      rgba(255, 164, 142, 0.2) 100%,
      rgba(243, 243, 243, 0.2) 100%
    ),
    linear-gradient(90deg, #125ebb 0%, #081e3a 100%);
}
